<div class="body" fxFlex>
    <div>
        <h1>Forgot your Password?</h1>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <mat-card>
            <p style="color: gray; text-align:justify;">Enter your email address and we'll send you a link to reset
                your password.</p>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitResetPassword()">
                <div>Email Id</div><input matInput type=" email" formControlName="email"
                    style="width: 100%; height: 20px; margin-bottom: 10px">
                <mat-hint style="color: red;" *ngIf="f.email.invalid && f.email.touched">
                    Email is required
                </mat-hint>

                <input type="submit" name="Reset Password" value="Reset Password" (click)="onSubmitResetPassword()"
                    style="width: 101%; height: 30px; background-color: #a03037; color: white; margin-top: 30px">
            </form>
            <!-- <mat-card-header style="background-color:red;padding:5px;padding:0">
                <mat-card-title>create account</mat-card-title>
            </mat-card-header> -->
            <div class="createaccount">
                <h2 class="txt" fxLayoutAlign="center center"> create account</h2>
            </div>
        </mat-card>
    </div>
</div>