.body {
  margin-left: 500px;
  height: 300px;
  width: 350px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.createaccount {
  margin-top: 20px;
  background: #f9f9f8 0% 0% no-repeat padding-box;
  border: 1px solid #e4e4e4;
  border-radius: 0px 0px 6px 6px;
  opacity: 1;
  justify-content: center;
  margin-left: -17px;
  margin-right: -17px;
  margin-bottom: -20px;
}

.txt {
  color: gray;
  align-items: center;
  opacity: 1;
}
