<div class="cantainer">
    <div>
        <div fxHide.lt-sm>
            <img class="img" src="../../../assets/Images/placeorder.png" alt="">
        </div>
        <div>
            <p style="text-align: center;margin-bottom: 30px;">hurray!!! your order is confirmed <br>the order id is
                #123456 save the order
                id for <br>further
                communication..
            </p>
        </div>
        <div>
            <table>
                <tr>
                    <th>Email us</th>
                    <th>Contact us</th>
                    <th>Address</th>
                </tr>
                <tr>
                    <td>admin@bookstore.com </td>
                    <td>+91 8163475881</td>
                    <td class="address">42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom
                        restaurant, HSR Layout,
                        Bangalore 560034</td>
                </tr>
            </table>
        </div>
        <div style="display:flex; justify-content:center; width:100%; padding:0;">
            <input type="submit" class="cont" name="Continue shopping" (click)=gotobooks() value="Continue shopping">
        </div>
    </div>
</div>